<div class="container">
  <my-app
    [getSongsTotal]="data"
    [playlistTotal]="NumberOfSongsLiked"
    [songs]="songsData"
  ></my-app>
  <div class="row">
    <div class="col-md-8">
      <my-songs-list
        (allSongs)="songsData = $event"
        (songsTotal)="data = $event"
        (playlistLength)="NumberOfSongsLiked = $event"
        (playlist)="songsLiked = $event"
      ></my-songs-list>
    </div>
    <div class="col-md-4 border">
      <my-playlist [myPlaylist]="songsLiked"></my-playlist>
    </div>
  </div>
</div>
